<% unless messages.blank? %>
	<ul>
		<% for message in messages %>
		<li>
			<span id="creator">
				<% unless message.user == current_user %>
				<%= message.user_type %> said:<br>
				<%= link_to 'reply', show_fields_messages_path(:msg_type => message.user_type, :entry => @entry, :open => message.open, :parent_id => message), :remote => true, :class => 'msg-link' %>
				<% else %>
				<%= content_tag :b, 'YOU said:' %><br>
				<%= link_to 'edit', edit_message_path(message, :entry => @entry), :remote => true, :class => 'msg-link' %>
				<% end %>
				<%= link_to 'delete', message, :confirm => 'Are you sure you want to delete this message?', :method => :delete if message.user == current_user || current_user.has_role?('admin') %>
			</span>
			<span id="comment">
				<%= content_tag :b, message.created_at.to_s(:short), :id => 'datetime', :class => 'white' %>
				<%= message.message %> <br>
			</span>
		</li>
		<% end %>
	</ul>
<% else %>
	<%= content_tag :h4, 'No messages yet.', :class => 'instruction' %>
<% end %>
	