<% title "Car Variants" %>

<%= will_paginate @car_variants %>
<%= page_info @car_variants %>

<table id="car_variants">
  <tr>
    <th>Variant</th>
    <th>Start Year</th>
    <th>End Year</th>
		<%= content_tag :th, 'Entries' %>
		<%= content_tag :th, 'Rationalize' %>
		<%= content_tag :th %>
  </tr>
  <% for car_variant in @car_variants %>
    <!-- <tr> -->
		<%= content_tag_for :tr, car_variant do %>
      <td>
				<%= car_variant.id %> -
				<%= car_variant.car_brand.name %> <%= car_variant.car_model.name %><br>
     		<%= content_tag :p, car_variant.name, :class => 'highlight' %>
			</td>
      <td><%= car_variant.start_year %></td>
      <td><%= car_variant.end_year %></td>
			<%= content_tag :td, car_variant.entries.map { |e| link_to(e.id, e) }.to_sentence.html_safe, :class => 'entries' %>
			<%= content_tag :td, '', :class => 'rationalize' do %>
				<%= form_tag rationalize_car_variant_path(car_variant), :method => :put, :remote => true do  %>
					<%= number_field_tag :new_variant, nil, :size => 5 %>
					<%= submit_tag 'Go', :confirm => 'Are you sure?' %>
				<% end %>
			<% end %>
			<td>
				<%= link_to "Show", car_variant %>
				<%= link_to "Edit", edit_car_variant_path(car_variant) %>
				<%= link_to "Destroy", car_variant, :confirm => 'Are you sure?', :method => :delete %>
			</td>
    <!-- </tr> -->
			<% end %>
  <% end %>
</table>

<%= will_paginate @car_variants %>
<%= page_info @car_variants %>

<%= content_tag :p, (link_to "New Car Variant", new_car_variant_path, :class => 'button'), :class => 'page-links' %>

