<table id='entry-create'>
	<th>
		<%= content_tag :p, 'Qty', :class => "qty" %>
		<%= content_tag :p, 'Part Description', :class => "partdesc" %>
	</th>
	<%= content_tag :th, 'Status', :class => "bid-box" %>
	<% for item in  @line_items %>
		<tr id="item_<%= item.id %>">
			<%= render 'line_items/prev_item', :item => item %>
		</tr>
	<% end %>
	<% for item in  @cart.cart_items %>
		<tr id="item_<%= item.car_part.id %>">
			<%= render 'cart/item', :item => item %>
		</tr>
	<% end %>
	<tr>
		<td>
			<%= render 'car_parts/search_form' %>
		</td>
		<td class="temporary">
			<% unless @line_items.empty? && @cart.cart_items.empty? %>
				<div id="cart_notice_box">
					<% if flash[:cart_notice] %> 
						<%= render "cart/cart_notice" %>
					<% end %>
				</div>
			<% else %>
				Your parts list is empty!
			<% end %>
		</td>
	</tr>
</table>

<div id="parts_list">
	<% unless @cart.cart_items.empty? %> 
		<%= button_to 'Save Parts List', line_items_path(:id => @entry), :id => 'finalize-button', :class => 'green-button', :remote => true  %>
		<%= clear_cart_link(@entry) %>
	<% end %>
</div>

