<h3>Current Selection</h3>

<ul>
	<%= render 'shared/part_titles' %>
	<% for item in  @cart.cart_items %>
		<li id="item_<%= item.car_part.id %>" class="selection-list">
			<%= render 'cart/item', :item => item %>
		</li>
	<% end %>
</ul>


<div id="cart_notice_box">
	<% if flash[:cart_notice] %> 
		<%= render "cart/cart_notice" %>
	<% end %>
</div>

<% unless @cart.cart_items.empty? %> 
	<%= clear_cart_link %>
<% end %>

