<% for item in  @line_items %>
	<tr class="entry-item">
		<%= content_tag :td, item.quantity, :class => 'qty' %>
		<td class="partname">    	
			<%= content_tag :p, item.part_name %> 
			<%= content_tag :p, "(Details: <strong>#{item.part_no}</strong>)".html_safe, :class => 'partnum' unless item.part_no.blank?  %>
			<%= content_tag :p, "Bidding Speed: " + distance_of_time_in_words(item.bids.first.bid_speed), :class => 'instruction' unless item.bids.first.blank? %>
		</td>
		<td class="bid-box">
			<% if item.cancelled? %>
			<%= content_tag :p, "Previous order #{item.status.downcase}. <br>You may re-order from next lowest bidder".html_safe, :class => 'mild-alert clear-both' %> 
			<% end %>
			<div class="bid-labels">
				<div class="bidder-count">
					<%= content_tag :p, 'Bidder/s' %>
					<%= content_tag :p, item.bids.collect(&:user_id).uniq.count, :class => 'number strong' %>
				</div>
				<%= render 'entries/bid_hi_lo_labels' if item.bids_count > 0 && item.status == "For-Decision" || item.cancelled? %>
			</div>
			<div class="bid-selection">
			<% if item.status == "For-Decision" || item.cancelled? %>
				<%= render 'buyer/bid_selection', :item => item %>
			<% else %>
				<%= render 'buyer/bid_status_only', :item => item %>
			<% end %>
			</div>
		</td>
	</tr>
<% end %>
<% if (@entry.can_be_ordered? || @entry.line_items.cancelled.present?) && @entry.expired.nil? %>
	<tr id="accept-decline">
	  <td colspan=2></td>
	  <td>
			<%= content_tag :p, 'Select bids before your create a PO.', :class => 'instruction strong' %>
	  	<%= submit_tag "Create PO", :class => 'green-button' %>
	  </td>
	</tr>
<% elsif @entry.expired? %>
	<tr id="accept-decline">
	  <td colspan=2></td>
	  <td>
			<%= content_tag :p, 'Select the expired bids to reactivate.', :class => 'instruction' %>
	  	<%= submit_tag "Reactivate & Create PO", :class => 'red-button' %>
	  </td>
	</tr>
<% end %>

