<ul class='dash full'>
  <h3>What's new with E-Bid version 2.8.1?</h3>
	<%= dash_entry_format("feature", "Multiple items per order", "Buyers can now order multiple items per PO. This saves time in ordering and printing by both buyers and suppliers.",  nil ) %>
</ul>
<ul class='dash full'>
  <h3>What's new with E-Bid version 2.8?</h3>
	<%= dash_entry_format("feature", "Buyer's dashboard", "A quick snapshot of what's happening online, plus a section on the status of your orders and payments due.",  nil ) %>
	<%= dash_entry_format("feature", "Online & Results pages", "A new look makes it easier to monitor the status of your entries.",  nil ) %>
	<%= dash_entry_format("feature", "Grouped orders & payments", "Orders and payments are now grouped on a per vehicle basis.",  nil ) %>
	<%= dash_entry_format("feature", "Payment monitoring", "It's now easy to distinguish on-time versus overdue payments. This will be helpful in maintaining good relationships with your suppliers.",  nil ) %>
	<%= dash_entry_format("feature", "Transaction fees", "Transaction fees are also grouped and it's now very easy to cross-check the computations with the entries you created.",  nil ) %>
</ul>
