<% unless @decline_fees.blank? %>

<%= content_tag :h1, "Decline Fees of #{@buyer_company}" %>
<%= content_tag :p, "(For the period #{@start_date.to_s(:long)} to #{@end_date.to_s(:long)})" %>

<h2>
	Total Decline Fees: <%= ph_currency(@search.collect(&:fee).sum) %> /
	Supplier Share: <%= ph_currency(@search.collect(&:split_amount).sum) %>
</h2>

<table id="buyer-fees">
	<thead>
    <%= content_tag :th, 'Vehicle', :class => 'vehicle' %>
		<th class="">
	    <%= content_tag :div, 'Part Description', :class => 'part' %>
	    <%= content_tag :div, 'Lowest Bid', :class => 'lowest-bid' %>
			<%= content_tag :div, 'Bidding Speed', :class => 'speed' -%>
			<%= content_tag :div, 'Rate', :class => 'rate' -%>
	    <%= content_tag :div, 'Decline Fee', :class => 'fee' %>
	    <%= content_tag :div, 'Supplier Share', :class => 'fee' %>
		</th>
	</thead>
	<% @decline_fees.group_by(&:entry).each do |entry, fees|  %>
  <tr>
		<td class="vehicle">	
			<%= content_tag :p, entry.vehicle %>
			<p>
				<%= entry.plate_no %>
				<%= content_tag :abbr, "by #{entry.user.username}", :class => 'highlight' unless current_user.primary_role != 1 %>
			</p>
		  <%= content_tag :p, "#{fees.count} of #{pluralize entry.line_items_count, 'item'}" %> 	
		</td>
	  <td>
  	<% for fee in fees %>
	    <%= content_tag :div, fee.line_item.part_name, :class => 'part' %>
			<div class='lowest-bid'>
		    <%= content_tag :p, (number_to_currency fee.bid_total, :unit => "") %>
				<%= content_tag :p, fee.bid_type, :class => 'instruction' %>
			</div>
			<%= content_tag :div, (distance_of_time_in_words fee.bid_speed unless fee.bid_speed.blank?), :class => 'speed' %>
			<%= content_tag :div, percentage3(fee.fee_rate), :class => 'rate' -%>
	    <%= content_tag :div, (number_to_currency fee.fee, :unit => ""), :class => 'fee' %>
			<div class='fee'>
		    <%= content_tag :p, (number_to_currency fee.split_amount, :unit => "") %>
				<%= content_tag :p, fee.seller.username, :class => 'instruction' %>
			</div>
		<% end %>
		</td>                          
	</tr>
	<% end %>
	<tr class="totals">
    <%= content_tag :td, 'Sub-Totals', :class => 'vehicle' %>
	  <td>
	    <%= content_tag :div, '', :class => 'part' %>
	    <%= content_tag :div, '', :class => 'lowest-bid' %>
	    <%= content_tag :div, '', :class => 'speed' %>
	    <%= content_tag :div, '', :class => 'rate' %>
	    <%= content_tag :div, (ph_currency @decline_fees.collect(&:fee).sum), :class => 'fee' %>
	    <%= content_tag :div, (ph_currency @decline_fees.collect(&:split_amount).sum), :class => 'fee' %>
	  </td>
	</tr>
</table>
<% end %>
