<% unless @decline_fees.blank? %>

<%= content_tag :h1, "Decline Fees of #{@buyer_company} #{content_tag :span, ' (' + params[:user_id] + ')' unless params[:user_id].blank?}".html_safe %>
<%= content_tag :p, "(For the period #{@start_date.to_s(:long)} to #{@end_date.to_s(:long)})" %>

<h3>
	Total Decline Fees: <%= ph_currency(@search.collect(&:fee).sum) %> /
	Supplier Share: <%= ph_currency(@search.collect(&:split_amount).sum) %>
	<%= "(#{@seller_company} - #{pluralize(@decline_fees.count, 'bid')})" if @seller_company %>
</h3>

<table id="buyer-fees">
	<thead>
    <%= content_tag :th, 'Vehicle', :class => 'vehicle' %>
		<th class="">
	    <%= content_tag :div, 'Part Description', :class => 'part' %>
	    <%= content_tag :div, 'Lowest Bid', :class => 'lowest-bid' %>
			<%= content_tag :div, 'Bidding Speed', :class => 'speed' -%>
			<%= content_tag :div, 'Rate', :class => 'rate' -%>
	    <%= content_tag :div, 'Decline Fee', :class => 'fee' %>
	    <%= content_tag :div, 'Supplier Share', :class => 'fee' %>
		</th>
	</thead>
	<% @decline_fees.group_by(&:entry).each do |entry, fees|  %>
  <tr>
		<td class="vehicle">	
			<%= content_tag :p, shorten(entry.vehicle, 25) %>
			<p>
				<%= entry.plate_no %>
				<%= content_tag :span, "#{entry.user.username}", :class => 'highlight' unless current_user.primary_role != 1 %>
			</p>
		  <%= content_tag :p, "#{fees.count} of #{pluralize entry.line_items_count, 'item'}" %> 	
		</td>
	  <td>
  	<% for fee in fees %>
		<div id="<%= fee.id  %>" class="fee-group">
	    <%= content_tag :div, fee.line_item.part_name, :class => 'part' %>
			<div class='lowest-bid'>
		    <%= content_tag :p, currency(fee.bid_total) if fee.bid_total? %>
				<%= content_tag :p, fee.bid_type, :class => 'instruction' if fee.bid_type? %>
				<%= content_tag :p, fee.fee_type.upcase, :class => 'small negative' if fee.fee_type == 'Reverted' || fee.fee_type == 'Reversed' %>
			</div>
			<%= content_tag :div, (distance_of_time_in_words fee.bid_speed if fee.bid_speed?), :class => 'speed' %>
			<%= content_tag :div, "#{content_tag :p, percentage3(fee.fee_rate) unless fee.fee_rate.nil?} #{content_tag :p, fee.perf_ratio, :class => 'small' if fee.perf_ratio? && fee.fee_rate?}".html_safe, :class => 'rate' -%>
			<div class='fee'>
				<%= content_tag :p, currency(fee.fee), :class => "#{'negative' if fee.fee < 0}" %>
				<%= content_tag :p, regular_date(fee.created_at, 2), :class => 'instruction' if fee.fee? %>
				<%= content_tag :p, link_to('delete', fee, :method => :delete, :confirm => 'Are you sure?', :remote => true, :class => 'delete-fee', :id => fee.id), :class => 'small' if current_user.id == 1 %>                         
			</div>
			<div class='fee'>
				<%= content_tag :p, currency(fee.split_amount), :class => "#{'negative' if fee.split_amount < 0}" %>
				<%= content_tag :p, shorten(fee.seller.company.name, 12), :class => 'instruction' if params[:seller].blank? && fee.split_amount? %>
			</div>
		</div>
		<% end %>
		</td>                          
	</tr>
	<% end %>
	<tr class="totals">
    <%= content_tag :td, 'Totals', :class => 'vehicle' %>
	  <td>
	    <%= content_tag :div, '', :class => 'part' %>
	    <%= content_tag :div, '', :class => 'lowest-bid' %>
	    <%= content_tag :div, '', :class => 'speed' %>
	    <%= content_tag :div, '', :class => 'rate' %>
	    <%= content_tag :div, (ph_currency @decline_fees.collect(&:fee).sum), :class => 'fee' %>
	    <%= content_tag :div, (ph_currency @decline_fees.collect(&:split_amount).sum), :class => 'fee' %>
	  </td>
	</tr>
</table>
<% end %>

<% content_for :head do %>
	<%= javascript_include_tag :defaults %>
<% end %>
