<% title @title %>
<%= link_to 'Print Preview', buyer_fees_print_path(:start => @start_date, :end => @end_date, :buyer => params[:buyer], :seller => params[:seller], :user_id => params[:user_id]), :id => 'print-preview' %>

<%= render 'buyer/filter_by_user' unless @user_group.nil? %>
<%= render 'admin/filter_by_buyer' if @buyers %>
<%= render 'buyer/filter_by_sellers' unless @sellers.blank? %>

<% content_for :subnav do %>
	<%= form_tag @period_path, :class => 'groups highlight', :method => :get do  %>
		<%= hidden_field_tag :buyer, params[:buyer] unless params[:buyer].blank? %>
		<%= hidden_field_tag :seller, params[:seller] unless params[:seller].blank? %>
		<ul class="links groups">
			<li class="label">For the period</li>
			<li><%= text_field_tag :start, @start_date, :id => 'start', :size => 10 %></li>
			<li class="label">to</li>
			<li><%= text_field_tag :end, @end_date, :id => 'end', :size => 10 %></li>
			<li class="label">Plate No.</li>
			<li><%= text_field_tag :search, params[:search], :size => 8 %></li>
			<%= submit_tag "Search" %>
		</ul>
	<% end %>
<% end %>

<% if @decline_fees %>
	<h2 class="highlight">
		Total Decline Fees: <%= ph_currency(@search.collect(&:fee).sum) %> /
		Supplier Share: <%= ph_currency(@search.collect(&:split_amount).sum) %>
	  <%#= content_tag :span, "| you have declined #{@search.count} of  #{@total_bids} (#{percentage(@percentage_declined)})".html_safe unless @total_bids.nil? %>
	</h2>
	
	<%= content_tag :h3, "Ordering Ratio: #{percentage current_user.company.perf_ratio}" if params[:user].present? %>
	<%= content_tag :h3, "Ordering Ratio: #{percentage Company.find(params[:buyer]).perf_ratio}" if params[:buyer].present? %>
	
	<%= will_paginate @decline_fees  %>
	<%= page_info @decline_fees %>
	<%= content_tag :span, " - #{params[:buyer]}", :class => 'strong highlight' if params[:buyer] %>
	<%= content_tag :span, " - #{params[:seller]}", :class => 'strong highlight' if params[:seller] %>

	<table id="buyer-fees">
		<thead>
	    <%= content_tag :th, 'Vehicle', :class => 'vehicle' %>
			<th class="">
		    <%= content_tag :div, 'Part Description', :class => 'part' %>
		    <%#= content_tag :div, 'Decline Type', :class => 'fee-type' %>
		    <%= content_tag :div, 'Lowest Bid', :class => 'lowest-bid' %>
				<%= content_tag :div, 'Bidding Speed', :class => 'speed' -%>
				<%= content_tag :div, 'Rate', :class => 'rate' -%>
		    <%= content_tag :div, 'Decline Fee', :class => 'fee' %>
				<%= content_tag :div, 'Supplier Share', :class => 'fee' -%>
			</th>
		</thead>
		<% @decline_fees.group_by(&:entry).each do |entry, fees|  %>
	  <tr>
			<td class="vehicle">	
				<%= content_tag :p, truncate(entry.vehicle, :length => 30), :class => 'strong' %>
				<p>
					<%= entry.plate_no %>
					<%= content_tag :abbr, "by #{entry.user.username}", :class => 'highlight' unless current_user == entry.user %>
				</p>
			  <%= content_tag :p, "#{fees.count} of #{pluralize entry.line_items_count, 'item'}" %> 	
				<%= link_to "View Entry", entry, :class => 'button' %>
			</td>
		  <td>
	  	<% for fee in fees %>
				<div id="<%= fee.id  %>" class="fee-group">
		    <%= content_tag :div, fee.line_item.part_name, :class => 'part' %>
		    <%#= content_tag :div, "#{fee.fee_type}: #{content_tag :span, fee.created_at.strftime("%d %b '%y"), :class => 'instruction'}".html_safe, :class => 'fee-type' %>
				<div class='fee'>
			    <%= content_tag :p, (number_to_currency fee.bid_total, :unit => "") %>
					<%= content_tag :p, fee.bid_type, :class => 'instruction' %>
				</div>
				<%= content_tag :div, (distance_of_time_in_words fee.bid_speed unless fee.bid_speed.blank?), :class => 'speed' %>
				<%= content_tag :div, "#{content_tag :p, percentage3(fee.fee_rate)} #{content_tag :p, fee.perf_ratio, :class => 'small'}".html_safe, :class => 'rate' -%>
				<div class='fee'>
					<%= content_tag :p, (number_to_currency fee.fee, :unit => ""), :class => "#{'negative' if fee.fee < 0}" %>
					<%= content_tag :p, fee.created_at.strftime("%d %b '%y"), :class => 'instruction' %>
					<%= content_tag :p, link_to('delete', fee, :method => :delete, :confirm => 'Are you sure?', :remote => true, :class => 'delete-fee', :id => fee.id), :class => 'small' if current_user.id == 1 %>                         
				</div>
				<div class='fee'>
					<%= content_tag :p, (number_to_currency fee.split_amount, :unit => "") %>
					<%= content_tag :p, truncate(fee.seller.company.name, :length => 10), :class => 'instruction' unless fee.seller == current_user %>
				</div>
				</div>
				
			<% end %>
			</td> 
		</tr>
		<% end %>
		<tr class="totals">
	    <%= content_tag :td, 'Sub-Totals', :class => 'vehicle' %>
		  <td>
		    <%= content_tag :div, '', :class => 'part' %>
		    <%#= content_tag :div, '', :class => 'fee-type' %>
		    <%= content_tag :div, (ph_currency @decline_fees.collect(&:bid_total).sum), :class => 'lowest-bid' %>
		    <%= content_tag :div, '', :class => 'speed' %>
		    <%= content_tag :div, '', :class => 'rate' %>
		    <%= content_tag :div, (ph_currency @decline_fees.collect(&:fee).sum), :class => 'fee' %>
		    <%= content_tag :div, (ph_currency @decline_fees.collect(&:split_amount).sum), :class => 'fee' %>
		  </td>
		</tr>
	</table>
<% else %>
	<%= content_tag :h2, 'Sorry, no records found.' %> 
<% end %>

<%= will_paginate @decline_fees  %>

<% content_for :javascripts do %>
	<% stylesheet 'blitzer/jquery-ui-1.8.6.custom' %>
	<script type="text/javascript" charset="utf-8">
	$(function() {
		var dates = $( "#start, #end" ).datepicker({
			dateFormat: "yy-mm-dd",
			maxDate: 0,
			changeMonth: true,
			changeYear: true,
			onSelect: function( selectedDate ) {
				var option = this.id == "start" ? "minDate" : "maxDate",
					instance = $( this ).data( "datepicker" ),
					date = $.datepicker.parseDate(
						instance.settings.dateFormat ||
						$.datepicker._defaults.dateFormat,
						selectedDate, instance.settings );
				dates.not( this ).datepicker( "option", option, date );
			}
		});
				
	});
	</script>
<% end %>