<% title 'E-Bid vs Manual Canvass (FortuneGen)' %>

<dl id="diff-stats">
	<%= content_tag :dt, 'Total Entries Created' %>
	<%= content_tag :dd, pluralize(@entries.count, 'entry') %>
	<%= content_tag :dt, 'Total Parts Requested' %>
	<%= content_tag :dd, pluralize(delimited(@line_items.count), 'part'), :class => 'number' %>
	<%= content_tag :dt, 'Total Bids Received' %>
	<%= content_tag :dd, ph_currency(@entries.collect(&:bid_amounts).sum) %>
	<%= content_tag :dt, 'Total Orders' %>
	<%= content_tag :dd, "(#{pluralize(@orders.count, 'order')} | #{pluralize(@ordered_parts, 'part')}) #{ph_currency(@orders.sum(:order_total))}" %>
	<%= content_tag :dt, 'Entries in Survey', :class => 'survey-count' %>
	<%= content_tag :dd, pluralize(@sample.count, 'entry'), :class => 'survey-count' %>
	<%= content_tag :dt, 'Parts in Survey' %>
	<%= content_tag :dd, "(#{percentage(@sample_parts_pct)}) #{pluralize(@sample_parts.count, 'part')}", :class => 'number' %>
	<%= content_tag :dt, 'Total Financial Benefit in Survey', :class => 'survey-count' %>
	<%= content_tag :dd, ph_currency(@total_effect), :class => 'survey-count' %>
	<%= content_tag :dt, 'Decline Fees in Survey' %>
	<%= content_tag :dd, "(#{pluralize(@decline_fees.count, 'part')}) #{ph_currency(@decline_fees.sum(:fee))}" %>
	<%= content_tag :dt, 'Orders in Survey' %>
	<%= content_tag :dd, ph_currency(@orders_in_survey.sum(:order_total)) %>
</dl>

<table id="diff-table">
	<tr>
		<%= content_tag :th %>
		<%= content_tag :th, 'E-Bid', :class => 'column1' %>
		<%= content_tag :th, 'No E-Bid', :class => 'column2' %>
	</tr>
	<tr>
		<%= content_tag :th, 'Canvass', :class => 'row1' %>
		<td>
			<%= content_tag :h4, 'Has BOTH E-Bid & Manual Canvass' %>
			<%= content_tag :p, "#{content_tag :b, 'Total E-Bid (Lowest Bids)'} #{content_tag :span, ph_currency(@with_ebid_and_manual.sum(:total))}".html_safe%>
			<%= content_tag :p, "#{content_tag :b, 'Total Canvass'} #{content_tag :span, ph_currency(@with_ebid_and_manual.sum(:canvass_total))}".html_safe%>
			<%= content_tag :p, "#{content_tag :b, 'Net Savings'} #{content_tag :span, ph_currency(@with_ebid_and_manual.sum(:diff))} (#{content_tag :span, percentage(@savings_rate)})".html_safe%>
			<%= content_tag :p, pluralize(@with_ebid_and_manual.count, 'part'), :class => 'number' %>
			<div>
				<%= content_tag :p, 'E-Bid is LOWER', :class => 'label' %>
				<%= content_tag :p, "#{content_tag :b, 'E-Bid (Lowest Bids)'} #{content_tag :span, ph_currency(@ebid_lower.sum(:total))}".html_safe%>
				<%= content_tag :p, "#{content_tag :b, 'Canvass'} #{content_tag :span, ph_currency(@ebid_lower.sum(:canvass_total))}".html_safe%>
				<%= content_tag :p, "#{content_tag :b, 'Difference'} #{content_tag :span, ph_currency(@ebid_lower.sum(:diff))}".html_safe %>
				<%= content_tag :p, 'Effect: Direct Savings!', :class => 'impt green' %>
				<%= content_tag :p, pluralize(@ebid_lower.count, 'part'), :class => 'number' %>
			</div>
			<div>
				<%= content_tag :p, 'E-Bid is HIGHER', :class => 'label' %>
				<%= content_tag :p, "#{content_tag :b, 'E-Bid (Lowest Bids)'} #{content_tag :span, ph_currency(@ebid_higher.sum(:total))}".html_safe%>
				<%= content_tag :p, "#{content_tag :b, 'Canvass'} #{content_tag :span, ph_currency(@ebid_higher.sum(:canvass_total))}".html_safe%>
				<%= content_tag :p, "#{content_tag :b, 'Difference'} #{content_tag :span, ph_currency(@ebid_higher.sum(:diff))}".html_safe %>
				<%= content_tag :p, 'Effect: Price Validation', :class => 'impt orange' %>
				<%= content_tag :p, pluralize(@ebid_higher.count, 'part'), :class => 'number' %>
			</div>
			<div id='last'>
				<%= content_tag :p, 'No Difference', :class => 'label' %>
				<%= content_tag :p, "#{content_tag :b, 'E-Bid (Lowest Bids)'} #{content_tag :span, ph_currency(@same.sum(:total))}".html_safe %>
				<%= content_tag :p, 'Effect: Price Validation', :class => 'impt orange' %>
				<%= content_tag :p, "#{content_tag :b, 'Canvass'} #{content_tag :span, ph_currency(@same.sum(:canvass_total))}".html_safe%>
				<%= content_tag :p, pluralize(@same.count, 'part'), :class => 'number' %>
			</div>
		</td>
		<td>
			<%= content_tag :h4, 'Has CANVASS ONLY (no E-Bid)' %>
			<%= content_tag :p, "#{content_tag :b, 'Canvass'} #{content_tag :span, ph_currency(@no_ebid_manual_only.sum(&:canvass_total))}".html_safe%>
			<%= content_tag :p, pluralize(@no_ebid_manual_only.count, 'part'), :class => 'number' %>
		</td>
	</tr>
	<tr>
		<%= content_tag :th, 'No Canvass', :class => 'row' %>
		<td>
			<%= content_tag :h4, 'Has E-BID ONLY (no manual canvass)' %>
			<%= content_tag :p, "#{content_tag :b, 'E-Bid (Lowest Bids)'} #{content_tag :span, ph_currency(@with_ebid_no_manual.sum(&:compute_lowest_bids))}".html_safe %>
			<%= content_tag :p, "#{content_tag :b, 'Projected Savings'} #{content_tag :span, '-' + ph_currency(@projected_savings)} (#{content_tag :span, percentage(@savings_rate)})".html_safe%>
			<%= content_tag :p, 'Effect: Direct Savings!', :class => 'impt green' %>
			<%= content_tag :p, pluralize(@with_ebid_no_manual.count, 'part'), :class => 'number' %>
		</td>
		<td>
			<%= content_tag :h4, 'No E-Bid & No Canvass' %>
			<%= content_tag :p, pluralize(@no_submission, 'part'), :class => 'number' %>
		</td>
	</tr>
</table>
