<%= form_for @comment do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :user_type %><br />
    <%= f.text_field :user_type %>
  </p>
  <p>
    <%= f.label :entry_id %><br />
    <%= f.text_field :entry_id %>
  </p>
  <p>
    <%= f.label :comment %><br />
    <%= f.text_area :comment %>
  </p>
  <p><%= f.submit %></p>
<% end %>
