<% title "Comment" %>

<p>
  <strong>User:</strong>
  <%= @comment.user_id %>
</p>
<p>
  <strong>User Type:</strong>
  <%= @comment.user_type %>
</p>
<p>
  <strong>Entry:</strong>
  <%= @comment.entry_id %>
</p>
<p>
  <strong>Comment:</strong>
  <%= @comment.comment %>
</p>

<p>
  <%= link_to "Edit", edit_comment_path(@comment) %> |
  <%= link_to "Destroy", @comment, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", comments_path %>
</p>
