<%= content_tag :h3, 'Instructions' %>

<% if @entry.photos.first.new_record? %>
	<p class="instruction">Please attach <strong>at least 2 photos</strong> (in jpg, jpeg, or png format).  Just click <strong><em>'Browse'</em></strong> to select the attachment.</p>

	<div id="flash_info" class="flash">
		<%= content_tag :p, "The #{content_tag :strong, 'first photo'} should always be the #{content_tag :strong, 'entire front or rear of the vehicle'}.".html_safe  %>
		<%= content_tag :p, "The #{content_tag :strong, 'other photos'} should #{content_tag :strong, 'clearly	show the parts you are requesting'}.".html_safe %>  
		<%= content_tag :p, "This is very important #{content_tag :strong, 'to avoid mistakes'}. Thanks for your cooperation.".html_safe %>  
	</div>

	<%= f.fields_for :photos do |photo| %>	
		<%= render 'entries/photo', :f => photo %>
	<% end %>
<% else %>
	<p class="instruction">
		To <strong>replace</strong> an existing photo, click <strong>'Browse'</strong> and choose another file.<br>
		To <strong>delete</strong> an existing photo, click <strong>'remove'</strong>.<br>
		To <strong>add more</strong> photos, click <strong>'Add Photo'</strong>, then <strong>'Browse'</strong> for a new photo.
	</p>
	<hr>
	<%= f.fields_for :photos do |photo| %>	
		<% unless photo.object.new_record?  %>
			<% if photo.object.processing == false %>
			<%= image_tag photo.object.photo.url(:tiny), :class => "photo" %>
			<% else %>
			<%= image_tag '/images/processing_photo.png', :class => "photo" %>
			<% end %>
		<% end %>
	
		<%= render 'entries/photo', :f => photo %>
	<% end %>
<% end %>

<%= f.link_to_add "+ Attach another photo", :photos %>
