<%= form_for @entry, :url => user_entries_path(current_user) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :ref_no %><br />
    <%= f.text_field :ref_no %>
  </p>
  <p>
    <%= f.label :year_model %><br />
    <%= f.text_field :year_model %>
  </p>
  <p>
    <%= f.label :car_brand_id %><br />
    <%= f.text_field :car_brand_id %>
  </p>
  <p>
    <%= f.label :car_model_id %><br />
    <%= f.text_field :car_model_id %>
  </p>
  <p>
    <%= f.label :car_variant_id %><br />
    <%= f.text_field :car_variant_id %>
  </p>
  <p>
    <%= f.label :plate_no %><br />
    <%= f.text_field :plate_no %>
  </p>
  <p>
    <%= f.label :serial_no %><br />
    <%= f.text_field :serial_no %>
  </p>
  <p>
    <%= f.label :motor_no %><br />
    <%= f.text_field :motor_no %>
  </p>
  <p>
    <%= f.label :date_of_loss %><br />
    <%= f.date_select :date_of_loss %>
  </p>
  <p>
    <%= f.label :city_id %><br />
    <%= f.text_field :city_id %>
  </p>
  <p>
    <%= f.label :term_id %><br />
    <%= f.text_field :term_id %>
  </p>
  <p>
    <%= f.label :bid_until %><br />
    <%= f.date_select :bid_until %>
  </p>
  <p>
    <%= f.label :buyer_status %><br />
    <%= f.text_field :buyer_status %>
  </p>
  <p>
    <%= f.label :photos_count %><br />
    <%= f.text_field :photos_count %>
  </p>
  <p>
    <%= f.label :additional_flag %><br />
    <%= f.check_box :additional_flag %>
  </p>
  <p>
    <%= f.label :expired %><br />
    <%= f.date_select :expired %>
  </p>
  <p>
    <%= f.label :chargeable_expiry %><br />
    <%= f.check_box :chargeable_expiry %>
  </p>
  <p><%= f.submit %></p>
<% end %>
