<div  id="parts_listing">
	<% if params[:name] %>
		<%= content_tag :p, ((content_tag :strong, (pluralize @car_parts_count, "part") + ' were found') + ' using your search keyword/s ' + (content_tag :strong, params[:name])).html_safe, :class => 'instruction' %>
	<% else %>
		<%= content_tag :p, ('There are ' + (content_tag :strong, (pluralize @car_parts_count, "part")) + ' in the database.').html_safe, :class => 'instruction' %>
	<% end %>
  <ol>
  	<% for car_part in @car_parts -%> 
  		<li>
  			<%= add_link(car_part) %> 
  		</li>	
  	<% end -%> 
  </ol>
  <%= will_paginate @car_parts, :inner_window => 1, :outer_window => 1, :previous_label => '« Prev', :id => 'parts-pagination' %> 
  <p class='instruction'><%= page_entries_info @car_parts %></p>
</div>
