<div id="cart_notice_box">
	<% if flash[:cart_notice] %> 
		<%= render "cart/cart_notice" %>
	<% end %>
</div>

<div id="parts" >
	<%= form_tag search_car_parts_path, :method => :get, :remote => true, :id => 'search-form' do %>
		<%= text_field_tag :name, nil, :id => 'search-box' %>
		<%= submit_tag "Search Parts" %>
	<% end %>

	<% if @car_parts_count > 0 %>
    <%= render 'parts_listing' %>
	<% else %>
    <p class="instruction">Sorry, <strong><%= params[:name] %></strong> could not be found.</p>
		<p class="instruction">Please try another keyword.</p>
	<% end %>
</div>
