<p class="instruction">Fields marked with <strong>asterisks (*)</strong> are required.</p>

<%#= f.error_messages %>
<%= f.input :year_model, :collection => (Date.today.year-30..Date.today.year).to_a.reverse, :selected => Date.today.year %>
<%= f.input :car_brand do %>
  <%= f.grouped_collection_select :car_brand_id,  @car_origins, :car_brands, :name, :id, :name, {:include_blank => 'Choose Brand'} %>
<% end %>
<%= f.association :car_model, :include_blank => "Choose Model" %>
<%= f.association :car_variant, :include_blank => "Choose Variant", :hint => "#{link_to 'Click here', new_car_variant_path} to add new variant.".html_safe %>
<%= f.input :plate_no %>
<%= f.input :serial_no, :label => 'Serial Number or VIN' %>
<%= f.input :motor_no, :label => 'Motor Number' %>
<%= f.input :ref_no, :label => 'Reference or Claim No.', :hint => 'What will you use to track your entry?' %>
<div class="input">
  <%= f.label :date_of_loss %>
  <%= f.text_field :date_of_loss, :id => 'datepicker', :size => 25 %>
	<span class='hint instruction'>Format: YYYY-MM-DD</span>
</div>
<%= f.association :city, :label => 'Deliver To' %>
<%= f.input :new_city, :value => @city, :label => 'Create a new delivery location here ...', :label_html => { :id => 'label_new_city'} %> 
<%= f.association :term, :label => 'Credit Term Request', :collection => Term.all.map{ |t| [t.term_name, t.id]}  %>
<div class='page-links'>
<%= f.submit 'Save & Go to Step 2 >>', :class => 'feature-button' %>
</div>

<% content_for :javascripts do %>
	<% stylesheet 'blitzer/jquery-ui-1.8.6.custom' %>
	<script type="text/javascript" charset="utf-8">
	$(function() {
		$('#datepicker').datepicker({ 
				dateFormat: "yy-mm-dd",
				maxDate: 0,
				numberOfMonths: 2,
				showButtonPanel: true, 
				showOn: "both",
				buttonImage: "/images/calendar.gif",
				buttonImageOnly: true
		});
	});
	</script>
<% end %>
