<% title "#{@entry.vehicle}" %>
<%= link_to 'Print Preview', print_entry_path(@entry), :id => 'print-preview' unless @line_items.blank? %>
<%= content_tag :h3, "Status: #{@entry.buyer_status}", :class => "#{quote_class( @entry.buyer_status)}", :id => 'status' %>

<%= render 'shared/info_vehicle', :entry => @entry %>
<%= render 'shared/photo_set' %>
<div id="select-parts-box">
	<%= render 'cart/cart', :entry => @entry %>
	<%= link_to("Cancel Editing", :back, :class => 'button', :id => 'cancel-edit-button') %>
</div>


<% content_for :javascripts do %>
	<% stylesheet 'shadowbox' %>
	<%= javascript_include_tag 'shadowbox' %>
	<script type="text/javascript">
			Shadowbox.init();		
	</script>
<% end %>
