<% title @title %>

<%= render 'buyer/filter_by_user' unless @user_group.nil? %>
<%= render 'buyer/filter_by_status' unless @status_tags.nil? %>
<%= render 'buyer/filter_by_search' %>

<%= will_paginate @entries %>
<%= page_info @entries %>
<%= content_tag :span, " - #{params[:status]}", :class => 'strong highlight' if params[:status] %>

<%- unless @entries.count < 1 -%>
<table id="online-list">
	<thead>
    <%= content_tag :th, 'Vehicle', :class => 'vehicle' %>
    <%= content_tag :th, 'Terms', :class => 'terms' %>
    <%= content_tag :th, 'Status', :class => 'status' %>
	</thead>
	<tbody>
	<%- for entry in @entries -%>
	<tr>
		<td class="vehicle">	
  		<%= render 'shared/photo_first', :entry => entry %>
      <div id="details">
        <%= content_tag :p, entry.ref_no unless entry.ref_no.nil? %>
        <%= content_tag :p, entry.vehicle, :class => 'strong' %>
        <%= content_tag :p, entry.plate_no %>
        <%= content_tag :p, "(created by #{entry.user.username})" if current_user.has_role?("powerbuyer") %>
			</div>
		</td>
    <td class="terms">  
      <%= content_tag :p, "#{entry.term.term_name} / #{entry.city.name}" %>
      <%= content_tag :p, (link_to (pluralize entry.line_items.count, "item"), entry), :class => 'parts-total' %>
    </td>
		<td class="status">
      <%= content_tag :p, display_status(entry) %>
			<p class="instruction">
			  <%= "#{entry.bid_until.strftime('%b %d')} |"  %>
			  <%= display_number_of_bidders(entry) unless (entry.buyer_status == "New" || entry.buyer_status == "Edited") %>
        <%= render 'entries/online_links', :entry => entry  %>
			  <%#= "| #{pluralize entry.orders.count, 'order'}" unless entry.orders.blank? %>
      </p>
		</td>
	</tr>
	<%- end -%>
	</tbody>
</table>
<%- end -%>

