<% title "Create New Entry - Step 2" %>

<fieldset>
	<legend>STEP 2 - Choose Parts</legend>
	<%= content_tag :h2, "#{@entry.vehicle} (#{@entry.plate_no})" %>
  <%= render 'parts_selection' %>
	<%= render 'parts_in_cart' %>
	<hr>
	<div class='page-links'>
		<%= link_to '<< Step 1', edit_entry_path(@entry), :class => 'button', :id => 'step-back' %>
		<%= button_to 'Save & Go to Step 3 >>', line_items_path(:id => @entry), :class => 'feature-button'  %>
	</div>
</fieldset>	
