<% title "Bids for #{@entry.vehicle}" %>

<%= content_tag :h3, 'Status: ' + @entry.buyer_status, :class => 'highlight' %>

<%= render 'shared/photo_set' %>
<%= render 'shared/info_vehicle', :entry => @entry %>
<%= render 'shared/comments' %>

<%= form_tag accept_bids_path(:entry_id => @entry), :method => :post do  %>
<table class="buyer monitor-bids">
	<thead>
	<tr>
		<th class="qty" rowspan=2>Qty</th>
		<th class="partname" rowspan=2>Part Description</th>
		<th class="bid-box" colspan=4>
			<strong>Item Bids (unit price)</strong>
		</th>
	</tr>
	<tr>
		<th class="bid-box type"></th>
		<th class="bid-box price">Original</th>
    <th class="bid-box price">Replacement</th>
    <th class="bid-box price">Surplus</th>
	</tr>
	</thead>
	<% for item in  @line_items %>
	<tr>
		<td class="qty" <%= proper_rowspan(item) %>><%= item.quantity %></td>
		<td class="partname" <%= proper_rowspan(item) %>>    	
			<%=h item.car_part.name %> 
			<%= content_tag :p, "(Part No. <strong>#{item.part_no}</strong>)".html_safe, :class => 'partnum' unless item.part_no.blank?  %>
			<%= content_tag :p, (pluralize item.bids.collect(&:user_id).uniq.count, "bidder"), :class => 'strong' unless item.bids.collect(&:user_id).uniq.count < 1 %>
			<%= content_tag :p, "ID: #{item.id}" if current_user.has_role?('admin') %>
		</td>
		
		<%= render 'bid_master', :item => item unless current_user.has_role?('admin')  %>
		<%= render 'admin/bid_master', :item => item if current_user.has_role?('admin') %>

	</tr>
	<% end %>
	<% if (@entry.buyer_status == "For-Decision" || @entry.buyer_status == "Ordered-IP" || @entry.buyer_status == "Declined-IP" || @entry.buyer_status == 'Relisted') && @entry.expired.nil? %>
	<tr id="accept-decline">
	  <td colspan=2></td>
	  <td colspan=4>
  		<p class="instruction strong">Select bid/s before you decide.</p>  
    	<%= submit_tag "Accept Selected" -%>
    	<%= submit_tag "Decline Selected", :confirm => 'Are you sure you want to decline the selected bid/s?',
    	 			:method => :get %>
	  </td>
	</tr>
	<% end %>
</table>
<% end -%>


<p class="page-links">
  <%= link_to "Done!", :back, :class => 'button' %>
  <%= link_to "Edit", edit_entry_path(@entry), :class => 'button' if @entry.buyer_status == 'New' || @entry.buyer_status == 'Edited' %>
  <%= link_to "[Relist Un-bided Items]", relist_entry_path(@entry) unless @entry.buyer_status == 'New' || @entry.buyer_status == 'Edited' || @entry.buyer_status == 'Online' || @entry.buyer_status == 'Relisted'  %>
</p>


<% content_for :javascripts do %>
	<% stylesheet 'shadowbox' %>
	<%= javascript_include_tag 'shadowbox' %>
	<script type="text/javascript">
			Shadowbox.init();		
	</script>
<% end %>
