<thead>
	<%= content_tag :th, 'Qty', :class => 'qty' %>
	<%= content_tag :th, 'Part Description', :class => 'partname' %>
	<%= content_tag :th, (content_tag :strong, 'Your Bids (unit price)').html_safe, :class => 'bid-box' %>
</thead>
<% for item in  @line_items %>
<tr>
	<%= content_tag :td, item.quantity, :class => "qty" %>
	<td class="partname">
		<%= content_tag :p, item.car_part.name %> 
		<%= content_tag :p, ("(Details: <strong>#{item.part_no}</strong>)").html_safe, :class => 'partnum' unless item.part_no.blank?  %>
    <%#= content_tag :p, "ID: #{item.id}" if current_user.has_role?('admin') %>
	</td>
	<td class="bid-box">
		<% if item.status == "Online" || item.status == "Relisted" %>
		<div class="fields">
		<%= content_tag :div, (content_tag :span, 'Orig ') + (text_field_tag "bids[#{item.id}][original]", nil , :size => 10, :class => 'quote').html_safe, :class => 'bid-field' %>
		<%= content_tag :div, (content_tag :span, 'Rep ') + (text_field_tag "bids[#{item.id}][replacement]", nil , :size => 10, :class => 'quote').html_safe, :class => 'bid-field' %>
		<%= content_tag :div, (content_tag :span, 'Surp ') + (text_field_tag "bids[#{item.id}][surplus]", nil , :size => 10, :class => 'quote').html_safe, :class => 'bid-field' %>
		</div>	
		<% end %>
		<div id="amounts_<%= item.id %>">                                                                                                  
			<%= render 'seller/bid_set', :item => item %>
		</div>		
	</td>
</tr>
<% end %>
