<% @bids.group_by(&:entry).each do |entry, bids| -%>
	<tr>
		<td class="vehicle">
      <div id="details">
        <%= content_tag :p, (link_to entry.vehicle, seller_show_path(:id => entry.id))  %>
        <%= content_tag :p, entry.plate_no %>
        <%= content_tag :p, "Terms: #{entry.city.name if entry.city} / #{entry.term.term_name if entry.term}" %>
			</div>
		</td>
		<td class="bid-box">
   		<% bids.group_by(&:line_item).each do |line_item, bids| %>
   		  <%= content_tag :div, line_item.part_name, :class => 'part-desc' %>
   		  <div class="bid-group">
   			<% for bid in bids  -%>
   			  <div class="amount">
   			    <%= ph_currency(bid.amount) %><br>
            <%= content_tag :span, bid.created_at.strftime('%b %d'), :class => 'instruction' %>
   			  </div>
           <div class="bid-type">
     				<%= bid.bid_type -%> <%= "- Lot" if bid.lot == true %>
           </div>  
   				<%= content_tag :div, bid.status, :class => "status #{quote_class(bid.status)}" -%>
   			<% end -%>
   		  </div>
 			<% end -%>
		</td>
	</tr>
<% end -%>
