<% title @title %>
<%= link_to 'Print Preview', seller_fees_print_path(:start => @start_date, :end => @end_date, :seller => params[:seller], :user_id => current_user), :id => 'print-preview' %>

<%= render 'buyer/filter_by_sellers' unless @sellers.blank? %>

<% content_for :subnav do %>
	<%= form_tag @period_path, :class => 'groups highlight', :method => :get do  %>
		<%= hidden_field_tag :seller, params[:seller] unless params[:seller].blank? %>
		<ul class="links groups">
			<li class="label">For the period</li>
			<li><%= text_field_tag :start, @start_date, :id => 'start', :size => 10 %></li>
			<li class="label">to</li>
			<li><%= text_field_tag :end, @end_date, :id => 'end', :size => 10 %></li>
			<li class="label">Plate No.</li>
			<li><%= text_field_tag :search, params[:search], :size => 8 %></li>
			<%= submit_tag "Search" %>
		</ul>
	<% end %>
<% end %>

<% unless @market_fees.blank? %>
<h2 class="highlight">
  Total Paid Orders: <%= ph_currency @search.collect(&:bid_total).sum %> /
  Total Market Fee: <%= ph_currency @search.collect(&:fee).sum %>
</h2>

<%= will_paginate @market_fees %>
<%= page_info @market_fees, @sort_order %>

<table id="supplier-fees">
	<thead>
    <%= content_tag :th, 'Vehicle', :class => 'vehicle' %>
		<th>
	    <%= content_tag :div, 'Parts Ordered', :class => 'part' %>
	    <%= content_tag :div, 'Amount Paid', :class => 'amount-paid' %>
			<%= content_tag :div, 'Bidding Speed', :class => 'speed' -%>
			<%= content_tag :div, 'Rate', :class => 'rate' -%>
	    <%= content_tag :div, 'Market Fee', :class => 'fee' %>
		</th>
	</thead>
	<% @market_fees.group_by(&:entry).each do |entry, fees| %>
  <tr>
		<td class="vehicle">	
      <%= content_tag :p, (link_to truncate(entry.vehicle, :length => 30), seller_show_path(:id => entry.id)) %>
			<p>
				<%= entry.plate_no %>
				<%= content_tag :abbr, "by #{entry.user.username}", :class => 'highlight' unless current_user.primary_role != 1 %>
			</p>
		</td>
	  <td>
  	<% fees.group_by(&:order).each do |order, fees| %>
			<div class="po-group">
				<% for fee in fees %>
				<div class="part">
			    <%= content_tag :span, "#{fee.line_item.quantity} ", :class => 'qty' %>
					<%= content_tag :span, fee.line_item.part_name, :class => 'name' %>
				</div>
					<div class='amount-paid'>
				    <%= content_tag :p, (number_to_currency fee.bid_total, :unit => "")  %>
						<%= content_tag :p, fee.order_paid.strftime('%d %b %Y'), :class => 'instruction' %>
					</div>
					<%= content_tag :div, (distance_of_time_in_words fee.bid_speed unless fee.bid_speed.blank?), :class => 'speed' -%>
					<%= content_tag :div, percentage(fee.fee_rate), :class => 'rate instruction' %>
					<div class='fee'>
				    <%= content_tag :p, (number_to_currency fee.fee, :unit => "") %>
						<%= content_tag :p, fee.seller.username, :class => 'instruction' unless fee.seller == current_user %>
					</div>
				<% end %>
				<%= link_to "View PO", order, :class => 'button' %>
			</div>
		<% end %>
		</td>                          
	</tr>
  <% end %>
	<tr class="totals">
    <%= content_tag :td, 'Sub-Totals', :class => 'vehicle' %>
	  <td>
			<div class="po-group">
		    <%= content_tag :div, '', :class => 'part' %>
		    <%= content_tag :div, (ph_currency @market_fees.collect(&:bid_total).sum), :class => 'amount-paid' %>
		    <%= content_tag :div, '', :class => 'speed' %>
		    <%= content_tag :div, '', :class => 'rate' %>
		    <%= content_tag :div, (ph_currency @market_fees.collect(&:fee).sum), :class => 'fee' %>
			</div>
	  </td>
	</tr>
</table>
<% else %>
	<%= content_tag :h2, 'Sorry, no records found.' %> 
<% end %>

<%= will_paginate @market_fees %>

<% content_for :javascripts do %>
	<% stylesheet 'blitzer/jquery-ui-1.8.6.custom' %>
	<script type="text/javascript" charset="utf-8">
	$(function() {
		var dates = $( "#start, #end" ).datepicker({
			dateFormat: "yy-mm-dd",
			maxDate: 0,
			changeMonth: true,
			changeYear: true,
			onSelect: function( selectedDate ) {
				var option = this.id == "start" ? "minDate" : "maxDate",
					instance = $( this ).data( "datepicker" ),
					date = $.datepicker.parseDate(
						instance.settings.dateFormat ||
						$.datepicker._defaults.dateFormat,
						selectedDate, instance.settings );
				dates.not( this ).datepicker( "option", option, date );
			}
		});
				
	});
	</script>
<% end %>