<% title @title %>


<%- unless @orders.blank? -%>
<div id='flash_notice'>
  Total Paid Orders: <%= number_to_currency(@all_orders.collect(&:total_order_amounts).sum, :unit => "P ") %> /
  Total Success Fees: <%= number_to_currency(@all_orders.collect(&:total_success_fees).sum, :unit => "P ") %>
</div>

<%= will_paginate @orders %>
<%= page_info @orders, @sort_order %>

<table id="supplier-fees">
	<tr>
    <%= content_tag :th, 'Vehicle', :class => 'vehicle' %>
		<th>
	    <%= content_tag :div, 'Delivery', :class => 'po-delivery' %>
	    <%= content_tag :div, 'PO Amount', :class => 'amount-paid' %>
	    <%= content_tag :div, 'Success Fee', :class => 'fees' %>
		</th>
	</tr>
	<% @orders.group_by(&:entry).each do |entry, orders| %>
	<tr>
		<td class="vehicle">	
			<%= content_tag :p, entry.vehicle, :class => 'strong'  %>
      <%= content_tag :p, entry.plate_no %>
		</td>
		<td class="">
  	<%- for order in orders -%>
  		<div class="po-delivery">	
	      <%= content_tag :p, 'Delivered: ' + order.delivered.strftime('%b %d'), :class => 'instruction'  unless order.delivered.nil? %>
	      <%= content_tag :p, 'Paid: ' + order.paid.strftime('%b %d') + 
						" (#{time_ago_in_words order.paid} ago)", :class => 'instruction'  unless order.paid.nil? %>
			</div>
			<div class="amount-paid">
  			<%= number_to_currency(order.bids.collect(&:total).sum, :unit => "") + ('<br>').html_safe + link_to("View PO # #{order.id}", order) %>
			</div>
		  <div class="fees">
  			<%= number_to_currency(order.bids.collect(&:fee).sum, :unit => "") %>
		  </div>
  	<%- end -%>
		</td>
	</tr>
  <%- end -%>
	<tr class="totals">
	  <td></td>
	  <td>
	    <%= content_tag :div, 'Sub-Totals', :class => 'po-delivery' %>
	    <%= content_tag :div, (number_to_currency(@orders.collect(&:total_order_amounts).sum, :unit => "P ")), :class => 'amount-paid' %>
	    <%= content_tag :div, (number_to_currency(@orders.collect(&:total_success_fees).sum, :unit => "P ")), :class => 'fees' %>
	  </td>
	</tr>
</table>
<%- end -%>
