<% title @title %>

<%= render 'seller/filter_by_brand' if @brand_links && @brand_links.count > 1 %>

<%= will_paginate @entries %>
<%= page_info @entries %>

<% unless @entries.count < 1 %>
<%= link_to 'Print Bidding Worksheet', seller_worksheet_path, :class => 'button green-button', :id => 'worksheet-button' %>
<table id="main-bids">
	<thead>
		<th class="vehicle">Vehicle</th>
		<th class="requirements">Requirements</th>
		<th class="status">Status</th>
	</thead>
	<% for entry in @entries %>
	<tr>
		<td class="vehicle">
			<%= render 'shared/photo_first', :entry => entry %>
      <div id="details">
        <%= content_tag :p, (link_to entry.vehicle, seller_show_path(:id => entry)) %>
        <%= content_tag :p, entry.plate_no %>
			</div>
		</td>
		<td class="requirements">
      <%= content_tag :p, (content_tag :span, 'Delivery:') + (content_tag :b, entry.city.name, :class => 'highlight') if entry.city %>
      <%= content_tag :p, (content_tag :span, 'Credit:') + entry.term.term_name if entry.term %>
      <%= content_tag :p, (content_tag :span, 'Parts:') + (link_to (pluralize entry.line_items.online.collect(&:quantity).sum, "item"), seller_show_path(:id => entry)) %>
		</td>
		<td class="status">
      <%= content_tag :span, 'M', :class => 'message-mark' if entry.messages.restricted(@company).present? || entry.messages.open.present? %>
      <%= content_tag :p, "Date Created: #{long_date(entry.created_at)}", :class => 'small' %>
      <%= content_tag :p, "#{online_or_relisted?(entry)} until: #{entry.bid_until.strftime('%b %d, %Y')} (maximum)".html_safe  %>
			<% unless entry.bids.online.where(:user_id => @company.users).blank? %>
				<p class="instruction large">
				(<%= image_tag '/images/base/yes.png' %> your company posted Bids <%= link_to 'here', seller_show_path(:id => entry) %> )
				</p>
			<% else %>
				<%= link_to 'Bid Here', seller_show_path(:id => entry), :class => 'button' %> 
			<% end %>
		</td>
	</tr>
	<% end %>
</table>
<% end %>

<%= will_paginate @entries %>


