<% title 'Monitor Bids' %>

<%= render 'buyer/filter_by_search' %>
<%= render 'seller/filter_by_brand' if @brand_links.count > 1 %>


<%= will_paginate @bids  %>
<%= page_info @bids %>

<table id="supplier-bids">
	<thead>
    <%= content_tag :th, 'Vehicle', :class => 'vehicle' %>
		<th>
	    <%= content_tag :div, 'Part Description', :class => 'part' %>
			<div class="bid-group">
		    <%= content_tag :div, 'Original', :class => 'amount original' %>
		    <%= content_tag :div, 'Replacement', :class => 'amount replacement' %>
		    <%= content_tag :div, 'Surplus', :class => 'amount surplus' %>
			</div>
		</th>
	</thead>
	<% @bids.group_by(&:entry).each do |entry, bids| -%>
  <tr>
		<td class="vehicle">	
			<%= content_tag :p, truncate(entry.vehicle, :length => 30), :class => 'strong' %>
			<%= content_tag :p, entry.plate_no  %>
			<%= link_to 'View Entry', seller_show_path(:id => entry.id), :class => 'button' %>
		</td>
	  <td>
			<%= content_tag :div, "#{display_status(entry)} *** Created: #{entry.created_at.strftime('%d-%b-%Y, %a %R')} ***".html_safe, :class => 'instruction highlight info' %>
   		<% bids.group_by(&:line_item).each do |line_item, bids| %>
				<div class="part">
			    <%= content_tag :p, line_item.part_name %>
				</div>
				<div class="bid-group">
				<% for bid in bids  %>
					<div class="amount <%= bid.bid_type %>">
						<%= content_tag :p, ph_currency(bid.amount), :class => 'vals' %>
						<%= content_tag :p, bid.status, :class => "stat #{quote_class(bid.status)}"  %>
						<%= content_tag :p, "speed: " + distance_of_time_in_words(bid.bid_speed), :class => 'instruction'   %>
						<%= content_tag :p, "> #{bid.user.username} <", :class => 'instruction' if bid.user != current_user  %>
					</div>
   			<% end %>
				</div>
		  <% end %>
		</td>                          
	</tr>
<% end %>
</table>

<%= will_paginate @bids  %>
