<% title "#{@entry.vehicle}" %>


<%= render 'shared/photo_set' %>
<%= render 'shared/info_vehicle', :entry => @entry %>
<%= content_tag :h3, 'Status: ' + @entry.buyer_status, :class => 'highlight' %>
<%#= render 'shared/comments' %>
<div id="message-box">
	<div id="msg-list">
		<div id="private">
			<%= render 'messages/private_messages' %>
		</div>
		<div id="public">
			<%= render 'messages/public_messages' %>
		</div>
	</div>
	<div id="msg-fields">
		<%= render 'messages/buttons' %>
	</div>
</div>

<%= form_tag bids_path(:entry_id => @entry), :id => 'bid-form', :remote => true do %>
	<table id="item-bids">
		<%= render 'bid_table' %>
	</table>
	<div class="page-links">
	  <%= link_to "<< Back", @back, :class => 'button' %>
		<%= submit_tag 'Place Bid/s' if @entry.buyer_status == "Online" || @entry.buyer_status == "Relisted"  %>
	</div>
<% end %>
<%= content_tag :h3, '', :id => 'bidding-message' %>


<% unless (@entry.buyer_status == 'Online' || @entry.buyer_status == 'Relisted') && @entry.expired.nil? %>
  <% content_for :subnav do %>
	<%= content_tag :div, ("Note: the status of this entry is " + (content_tag :strong, current_status_or_expired?(@entry)) + 
	". It\'s no longer available for bidding.").html_safe, :id => 'flash_info'  %>
  <% end  %>	
<% end %>

<% content_for :subnav do %>
	<%= content_tag :div, "Hi #{current_user.profile.first_name}! Have you seen your new #{link_to 'Dashboard', seller_main_path(current_user)} lately?".html_safe, :id => 'flash_info'  %>
<% end %>

<% content_for :javascripts do %>
	<% stylesheet 'shadowbox' %>
	<%= javascript_include_tag 'shadowbox' %>
	<script type="text/javascript">
			Shadowbox.init();		
	</script>
<% end %>

