<% unless @entries.count < 1 %>
<table id="worksheet">
	<thead>
    <%= content_tag :th, 'Vehicle' %>
		<th>
	    <%= content_tag :div, 'Parts', :class => 'part' %>
	    <%= content_tag :div, 'Orig', :class => 'price' %>
	    <%= content_tag :div, 'Rep', :class => 'price' %>
	    <%= content_tag :div, 'Surp', :class => 'price' %>
		</th>
	</thead>
	<% for entry in @entries %>
	<tr>
		<td class="vehicle">
       <%= content_tag :p, entry.vehicle %>
       <%= content_tag :p, "Plate: #{entry.plate_no}" %>
       <%= content_tag :p, "Serial: #{entry.serial_no}" %>
       <%= content_tag :p, "Motor: #{entry.motor_no}" %>
		</td>
		<td>
			<% for item in entry.line_items %>
				<div class="part">
			    <%= content_tag :span, item.quantity, :class => 'qty' %>
					<%= content_tag :span, item.part_name, :class => 'name' %>
				</div>
				<hr>
			<% end %>
		</td>
	</tr>
	<% end %>
</table>
<% end %>


