<% title "Place Order" %>


<% @bids.group_by(&:entry).each do |entry, bids| %>

  <div id="transaction" class="create">
		<%= content_tag :h2, 'Vehicle' %>
  	<%= render 'shared/info_vehicle', :entry => entry %>
  	
		<%= content_tag :h2, "Transaction #{content_tag :span, pluralize(@bid_users.count, 'supplier'), :class => 'highlight'}".html_safe %>
 
    <!-- create an order for each supplier -->
    <% bids.group_by(&:user_id).each do |seller, seller_bids| %>
	   	<%#= render 'orders/order_seller', :order => @order %>
    	<table class="parts-set">
    		<%= render 'shared/part_titles' %>
      	<% for bid in seller_bids %>
      		<tr>	
      			<%= content_tag :td, bid.quantity, :class => 'qty' %>
      			<td class="partname">
      				<%= content_tag :p, (bid.line_item.part_name + (content_tag :strong, " (#{bid.bid_type})")).html_safe %> 
      				<%= content_tag :p, "(Details: #{content_tag :strong, bid.line_item.part_no})".html_safe, :class => 'partnum' unless bid.line_item.part_no.blank?  %>
      			</td>
     				<%= content_tag :td, ph_currency(bid.amount), :class => 'price' %>
     				<%= content_tag :td, ph_currency(bid.total), :class => 'price' %>
      		</tr>
      		<!-- pass all bid.ids as an array into the form -->
      		<% content_for :bids_array do %>
        		<%= hidden_field_tag 'bids[]', bid.id %>
      		<% end %>
    		<% end %>
    		<tr class="selection-total">
    			<%= content_tag :td, 'Total Order', :class => 'label', :colspan => 2 %>
    			<%= content_tag :td, ph_currency(seller_bids.collect(&:total).sum), :class => 'amount', :colspan => 2 %>
    		</tr>
    	</table>
  	<% end %>
  </div>

  <div id="delivery" class="create">
		<%= content_tag :h2, 'Delivery' %>
		<% if entry.needs_to_check_stock? %>
			<%= render 'bids/stock_and_price_warning', :entry => entry %>
		<% end %>
    <%= simple_form_for @order, :url => orders_path(:entry_id => entry.id), :validate => true, :method => :post do |f|  %>
    	<%= yield :bids_array %>
  		<%= render 'orders/deliver_form', :f => f %>
			<%= f.fields_for :entry do %>
				<%= f.input :ref_no, :label => 'Claim No.' %>
			<% end %>
    <% end %>
  </div>

<% end %>
