<% title "Monitor Bids"%>

<%= render 'buyer/filter_by_search' %>
<%= render 'seller/filter_by_brand' unless @brand_links.nil? %>

<%= will_paginate @bids  %>
<%= page_info @bids %>

<%- unless @bids.blank? -%>
<table id="monitor-bids">
	<thead>
		<th class="vehicle">Vehicle</th>
		<th class="bid-box">
		  <%= content_tag :p, 'Item Bids (unit price)', :class => 'strong' %>
		  <%= content_tag :div, 'Part Description', :class => 'part-desc' %>
		  <%= content_tag :div, 'Amount', :class => 'amount' %>
		  <%= content_tag :div, 'Bid Type', :class => 'bid-type' %>
		  <%= content_tag :div, 'Bid Status', :class => 'status' %>
		</th>
	</thead>
	<tbody>
	<% if current_user.has_role?('admin') %>
	  <%= render 'admin/monitor_bids' %>
	<% else %>
	  <%= render 'seller/monitor_bids' %>
	<% end %>
	</tbody>
</table>
<% end %>

<%= will_paginate @bids  %>

<p class="page-links">
<%= link_to "Place More Bids", seller_hub_path(current_user, :brand => 'all'), :class => 'button' %>
</p>
