<% title "Monitor Bids"%>

<%= render 'buyer/filter_by_search' %>
<%= render 'seller/filter_by_brand' unless @brand_links.nil? %>

<%= will_paginate @line_items  %>
<%= page_info @line_items %>

<% unless @line_items.blank? %>
<table id="supplier-bids">
	<thead>
    <%= content_tag :th, 'Vehicle', :class => 'vehicle' %>
		<th>
	    <%= content_tag :div, 'Part Description', :class => 'part' %>
			<div class="bid-group">
		    <%= content_tag :div, 'Original', :class => 'amount original' %>
		    <%= content_tag :div, 'Replacement', :class => 'amount replacement' %>
		    <%= content_tag :div, 'Surplus', :class => 'amount surplus' %>
			</div>
		</th>
	</thead>
	<% @line_items.group_by(&:entry).each do |entry, line_items| %>
  <tr>
		<td class="vehicle">	
			<%= content_tag :p, (link_to truncate(entry.vehicle, :length => 30), entry) %>
      <%= content_tag :span, entry.plate_no %>
      <%= content_tag :span, "(by #{entry.user.username})", :class => 'highlight' %>
      <%= content_tag :p, "Created: #{long_date(entry.created_at)}", :class => 'instruction' %>
			<%= content_tag :p, "ID: #{entry.id}" %>
		</td>
	  <td>
			<%= content_tag :div, "#{display_status(entry)} *** #{display_number_of_bidders(entry)} ***".html_safe, :class => 'instruction highlight info' %>
   		<% line_items.each do |line_item| %>
				<div class="part">
			    <%= line_item.part_name %>
				</div>
				<div class="bid-group">
					<div class="amount orig">
					<% for bid in line_item.bids.orig  %>
						<%= render 'bids/bid_array', :bid => bid %>
	   			<% end %>
					</div>
					<div class="amount rep">
					<% for bid in line_item.bids.rep  %>
						<%= render 'bids/bid_array', :bid => bid %>
	   			<% end %>
					</div>
					<div class="amount surp">
					<% for bid in line_item.bids.surp  %>
						<%= render 'bids/bid_array', :bid => bid %>
	   			<% end %>
					</div>
				</div>
		  <% end %>
		</td>                          
	</tr>
	<% end %>
</table>
<% end %>

<%= will_paginate @line_items  %>
