<% for item in  @entry.line_items %>
<tr class="entry-item">
	<%= content_tag :td, item.quantity, :class => 'qty' %>
	<td class="partname">    	
		<%= item.part_name %> 
		<%= content_tag :p, "(Details: <strong>#{item.part_no}</strong>)".html_safe, :class => 'partnum' unless item.part_no.blank?  %>
		<%= content_tag :p, "ID: #{item.id}" %>
	</td>
	<td class="bid-box">
		<div class="bid-labels">
			<div class="bidder-count">
				<%= content_tag :p, 'Bidder/s' %>
				<%= content_tag :p, item.bids.collect(&:user_id).uniq.count, :class => 'number strong' %>
			</div>
			<%= render 'bid_hi_lo_labels' if item.bids_count > 0  %>
		</div>
		<div class="bid-selection">

			<% unless item.bids.size < 1 %>
				<%= content_tag :div, admin_high_bid("original", item), :class => 'bid-field orig' %>
				<%= content_tag :div, admin_high_bid("replacement", item), :class => 'bid-field rep' %>
				<%= content_tag :div, admin_high_bid("surplus", item), :class => 'bid-field surp' %>
			  <%= content_tag :div, admin_low_bid("original", item), :class => 'bid-field orig' %>
			  <%= content_tag :div, admin_low_bid("replacement", item), :class => 'bid-field rep' %>
			  <%= content_tag :div, admin_low_bid("surplus", item), :class => 'bid-field surp' %>
			<% end %>

		  <% if item.status == "PO Released" || item.status == "Ordered" %>
					<%= content_tag :span, item.status %> as of <%= item.order.created_at.strftime('%b %d') %> <%= link_to "(view order # #{item.order.id} )", order_path(item.order) %>
			<% elsif item.status == "For Delivery" || item.status == "For-Delivery"%>
					<%= content_tag :span, item.status %> as of <%= item.order.confirmed.strftime('%b %d') %> <%= link_to "(view order # #{item.order.id} )", order_path(item.order) %>
			<% elsif item.status == "Delivered" %>
					<%= content_tag :span, 'Delivered' %> as of <%= item.order.delivered.strftime('%b %d') %> <%= link_to "(view order # #{item.order.id} )", order_path(item.order) %>
			<% elsif item.status == "Paid" %>
					<%= content_tag :span, 'Paid' %> as of <%= item.order.paid.strftime('%b %d')  %> <%= link_to "(view order # #{item.order.id} )", order_path(item.order) %>
			<% elsif item.status == "Closed" %>
					<%= content_tag :span, 'Closed' %> as of <%= item.order.paid.strftime('%b %d')  unless item.order.paid.nil? %> <%= link_to "(view order # #{item.order.id} )", order_path(item.order) unless item.order.nil? %>
			<% else  %>
					<%= content_tag :span, item.status, :class => 'highlight' %>
			<% end %>

		</div>
	</td>
</tr>
<% end %>
