<%= will_paginate @entries %>
<%= page_info @entries %>
<%= content_tag :span, " - #{params[:status]}", :class => 'strong highlight' if params[:status] %>

<table id="online-list">
	<tr>
    <%= content_tag :th, 'Vehicle', :class => 'vehicle' %>
    <%= content_tag :th, 'Terms', :class => 'terms' %>
    <%= content_tag :th, 'Status', :class => 'status' %>
	</tr>
	<tbody>
	<%- for entry in @entries -%>
	<tr>
		<td class="vehicle">	
  		<%= render 'shared/photo_first', :entry => entry unless entry.photos.nil? %>
      <div id="details">
        <%= content_tag :p, entry.ref_no unless entry.ref_no.nil? %>
        <%= content_tag :p, entry.vehicle, :class => 'strong' %>
        <%= content_tag :span, entry.plate_no %>
       <%= content_tag :span, "(by #{entry.user.username})", :class => 'highlight' %>
	      <%= content_tag :p, "Created: #{entry.created_at.strftime('%d-%b-%Y, %a %R')}", :class => 'instruction' %>
				<%= content_tag :p, "Bidding Speed: " + distance_of_time_in_words(entry.bids.minimum(:bid_speed)), :class => 'white' unless entry.bids.first.blank? %>
			</div>
		</td>
    <td class="terms">  
      <%= content_tag :p, "#{entry.term.term_name} / #{entry.city.name}" %>
      <%= content_tag :p, (link_to (pluralize entry.line_items_count, "item"), entry), :class => 'parts-total' %>
    </td>
		<td class="status">
      <%= display_status(entry) %> <%= content_tag :span, 'M', :class => 'message-mark' if entry.messages.present? %>
			<p class="instruction">
			  <%= display_number_of_bidders(entry) unless (entry.buyer_status == "New" || entry.buyer_status == "Edited") %>
			  <%= "| #{content_tag :abbr, (pluralize entry.orders.count, 'order'), :class => 'highlight'}".html_safe unless entry.orders.blank? %>
      </p>

			<%= form_tag admin_change_status_path(:id => entry), :method => :put do %>
				Change Status? <%= select_tag :admin_status, options_for_select(["New", "Online", "For-Decision"], [entry.buyer_status]), {:onchange => 'this.form.submit()'} %>
			<% end %>

			<div id='admin-stuff' class='comfy-alert'>
		  <%= "Max bidding: #{entry.bid_until.strftime('%b %d')} |" if entry.bid_until  %>
			<%= "ID: #{entry.id}" %>
       <%= render 'admin/online_links', :entry => entry %>
			</div>
		</td>
	</tr>
	<%- end -%>
	</tbody>
</table>

<%= will_paginate @entries %>
