<% title @title %>

<%= render 'admin/filter_by_buyer' if @buyers %>
<%= render 'buyer/filter_by_sellers' unless @sellers.blank? %>
<%= render 'buyer/filter_by_search' %>

<% unless @decline_fees.blank? %>
	<h2 class="highlight">
		Total Decline Fees: <%= ph_currency(@search.collect(&:fee).sum) %>
	  <%= content_tag :span, "| you have declined #{@search.count} of  #{@total_bids} (#{percentage(@percentage_declined)})".html_safe unless @total_bids.nil? %>
	</h2>
<%= will_paginate @decline_fees  %>
<%= page_info @decline_fees %>

<table id="admin-buyer-fees">
	<thead>
    <%= content_tag :th, 'Vehicle', :class => 'vehicle' %>
		<th class="">
	    <%= content_tag :div, 'Decline Type', :class => 'fee-type' %>
	    <%= content_tag :div, 'Part Description', :class => 'part' %>
	    <%= content_tag :div, 'Lowest Bid', :class => 'lowest-bid' %>
	    <%= content_tag :div, 'Decline Fee', :class => 'fee' %>
		</th>
	</thead>
	<% @group.each do |entry, fees|  %>
  <tr>
		<td class="vehicle">	
			<%= link_to truncate(entry.vehicle, :length => 35), entry %>
			<p><%= entry.plate_no %> <%= content_tag :abbr, "by #{entry.user.username}", :class => 'highlight' if current_user != entry.user %></p>
		  <%= content_tag :p, "#{fees.count} of #{pluralize entry.line_items.count, 'item'}" %> 	
		</td>
	  <td>
  	<% for fee in fees %>
	    <%= content_tag :div, "#{fee.fee_type}: #{content_tag :span, fee.created_at.strftime('%b %d'), :class => 'instruction'}".html_safe, :class => 'fee-type' %>
	    <%= content_tag :div, fee.line_item.part_name, :class => 'part' %>
	    <%= content_tag :div, (number_to_currency fee.bid_total, :unit => "") + " #{display_bid_type(fee)}".html_safe, :class => 'lowest-bid'  %>
	    <%= content_tag :div, (number_to_currency fee.fee, :unit => ""), :class => 'fee' %>
			<%= content_tag :div, fee.seller.username, :class => 'seller instruction' -%>
		<% end %>
		</td>                          
	</tr>
	<% end %>
</table>
<% end %>

<%= will_paginate @decline_fees  %>
