<% title @title %>

<%= render 'buyer/filter_by_user' unless current_user.has_role?('seller') || @user_group.nil? %>
<%#= render 'buyer/filter_by_status' unless @status_tags.nil? %>
<%= render 'admin/filter_by_buyer' unless @buyers.blank? %>
<%= render 'buyer/filter_by_sellers' unless @sellers.blank? %>
<%= render 'buyer/filter_by_search' %>

<%= link_to 'Send Overdue Reminder', admin_overdue_reminder_path, :id => 'payment-reminder', :class => 'button' if current_page?(admin_payments_path) %>
<%= content_tag :h3, "Total: #{ph_currency(@all_orders.sum(:order_total))}", :id => 'order-total' %>

<%= will_paginate @orders %>
<%= page_info @orders, @sort_order %>
<%= content_tag :p, "#{User.find(params[:seller]).company_name} only: #{ph_currency(@search.sum(:order_total))}", :id => 'supplier-total', :class => 'strong highlight' unless params[:seller].nil? %>

<%- unless @orders.blank? -%>
	<table id="orders-list">
		<thead>
	    <%= content_tag :th, 'Vehicle', :class => 'vehicle' %>
	    <%= content_tag :th, 'Order Items', :class => 'items' %>
	    <%= content_tag :th, 'PO Amount', :class => 'amount' %>
	    <%= content_tag :th, 'Status', :class => 'stat' %>
		</thead>
		<% @orders.group_by(&:entry).each do |entry, orders| %>
		<tr>
			<td rowspan=<%= orders.count + 1 %> class='vehicle'>	
				<%= content_tag :p, (entry.ref_no unless entry.ref_no.nil?)  %>
	      <%#= content_tag :p, (link_to entry.vehicle, seller_show_path(current_user, entry.brand, entry)) %>
				<%= content_tag :p, (link_to truncate(entry.vehicle, :length => 35), entry) %>
				<%= content_tag :span, entry.plate_no %>
			</td>
		</tr>
		<% for order in orders %>
		<tr>
	  	<td >	
	 			<% for order_item in  order.order_items %>
				<p class="part">
			    <%= content_tag :span, "#{order_item.quantity} ", :class => 'qty' %>
					<%= content_tag :span, order_item.part_name, :class => 'name' %>
				</p>
				<% end %>
		 	</td>
			<td>
	      <%= content_tag :h5, 'Total: ' + ph_currency(order.order_total) %>
			  <%= link_to "View PO", order, :class => 'button' %>
			  <%= link_to "Edit", edit_order_path(order) %>
			</td>
	  	<td class="stat<%= ' highlight' if order.seller_confirmation == false %><%= ' white' if order.confirmed && order.confirmed < 5.days.ago && order.delivered.nil? %>">
  			<%= content_tag :p, 'Buyer: ' + order.company.name, :class => 'instruction'  %>
	  		<%= content_tag :p, 'Seller: ' + order.seller.profile.company.name, :class => 'instruction'  %>
			  <%= render 'admin/order_status_admin', :order => order %>
			</td>
	  </tr>
		<% end %>
		<% end %>
		<tr class="totals">
		  <td>Sub-Total</td>
		  <td></td>
		  <td><%= ph_currency(@orders.collect(&:order_total).sum) %></td>
		  <td></td>
		</tr>
	</table>
<%- end -%>

<%= will_paginate @orders %>
