<% title @title %>

<%= render 'buyer/filter_by_sellers' unless @sellers.blank? %>

<% unless @market_fees.blank? %>
<h2 class="highlight">
  Total Paid Orders: <%= ph_currency @search.collect(&:bid_total).sum %> /
  Total Success Fees: <%= ph_currency @search.collect(&:fee).sum %>
</h2>

<%= will_paginate @market_fees %>
<%= page_info @market_fees, @sort_order %>

<table id="supplier-fees">
	<thead>
    <%= content_tag :th, 'Vehicle', :class => 'vehicle' %>
		<th>
	    <%= content_tag :div, 'Delivery', :class => 'po-delivery' %>
	    <%= content_tag :div, 'Order Items', :class => 'part' %>
	    <%= content_tag :div, 'Order Total', :class => 'amount-paid' %>
	    <%= content_tag :div, 'Market Fee', :class => 'fee' %>
		</th>
	</thead>
	<% @market_fees.group_by(&:entry).each do |entry, fees| %>
  <tr>
		<td class="vehicle">	
			<%= link_to truncate(entry.vehicle, :length => 35), entry %>
			<%= content_tag :p, (entry.plate_no + (content_tag :abbr, "by #{entry.user.username}", :class => 'highlight' )).html_safe %>
		</td>
	  <td>
  	<% fees.group_by(&:order).each do |order, fees| %>
			<div class="po-delivery">
	      <%#= content_tag :p, 'Delivered: ' + order.delivered.strftime('%b %d'), :class => 'instruction'  unless order.delivered.nil? %>
	      <%= content_tag :p, 'Paid: ' + order.paid.strftime('%b %d'), :class => 'instruction highlight'  unless order.paid.nil? %>	
				<%= link_to "View PO # #{order.id}", order %>
			</div>
			<div class="fee-group">
			<% for fee in fees %>
		    <%= content_tag :div, "[ #{fee.line_item.quantity} ] " + fee.line_item.part_name, :class => 'part' %>
		    <%= content_tag :div, (number_to_currency fee.bid_total, :unit => ""), :class => 'amount-paid'  %>
		    <%= content_tag :div, (number_to_currency fee.fee, :unit => ""), :class => 'fee' %>
				<%= content_tag :div, fee.seller.username, :class => 'seller instruction' -%>
			<% end %>
			</div>
		<% end %>
		</td>                          
	</tr>
  <% end %>
	<tr class="totals">
	  <td></td>
	  <td>
	    <%= content_tag :div, 'Sub-Totals', :class => 'po-delivery' %>
			<div class="fee-group">
		    <%= content_tag :div, '', :class => 'part' %>
		    <%= content_tag :div, (ph_currency @market_fees.collect(&:bid_total).sum), :class => 'amount-paid' %>
		    <%= content_tag :div, (ph_currency @market_fees.collect(&:fee).sum), :class => 'fee' %>
			</div>
	  </td>
	</tr>
</table>
<% end %>
