<p class="instruction">Fields marked with <strong>asterisks (*)</strong> are required.</p>
<%= simple_form_for @user, :html => {:class => 'col-3'}, :validate => true do |f| %>
	<%#= f.inputs :name => "Login" do %>
		<%= f.input :username, :hint => 'This is going to be your login name.' %>
		<%= f.input :password, :hint => 'Use at least 4 characters.' %>
		<%= f.input :password_confirmation, :label => 'Type Password again' %>
		<%= f.input :email, :hint => 'We need this to send you notices.' %>
	<%# end %>

  <%= f.simple_fields_for :profile do |profile| %>
  	<%#= profile.inputs :name => "Profile" do %>
  		<%= profile.association :company, :collection => Company.ascend_by_name if current_user && current_user.has_role?('admin') %>
  		<%#= profile.association :company, :collection => Company.id_not(1).ascend_by_name, :hint => 'Call us at 892-5835 if your company is not in this list.' unless current_user && current_user.has_role?('admin') %>
  		<!-- <li><p class="inline-hints">New company? Add your company here -%></p></li> -->
  		<%= profile.input :first_name  %>
  		<%= profile.input :last_name %>
  		<%= profile.association :rank, :label => 'Position', :collection => Rank.ascend_by_name, :hint => "Create a new position? Click #{link_to 'here', new_rank_path}".html_safe %>
  		<!-- <li><p id="rank" class="inline-hints">
  		</p></li> -->
  		<%= profile.input :phone %>
  		<%= profile.input :fax %>
  		<%= profile.input :birthdate, :as => :string, :input_html => {:id => 'datepicker'}, :hint => 'We want to remember you on your birthday. (Format: YYYY-MM-DD)' %>
  	<%# end %>
  <% end %>
	<%#= f.buttons do %>
		<%#= f.commit_button 'Submit' %> 
		<%= f.button :submit %> or
		<%= link_to "Cancel", :back -%>
		<% if current_user && current_user.has_role?('admin') %>
		  | <%= link_to "Show", @user %> 
		  | <%= link_to "View All", users_path %>
		<% end %>
	<%# end %>
<% end %>

<% content_for :head do %>
	<%#= stylesheet_link_tag 'formtastic', 'formtastic_changes' %>
<% end %>

<% content_for :javascripts do %>
	<%= javascript_include_tag 'rails.validations' %>
	<%= stylesheet_link_tag 'blitzer/jquery-ui-1.8.6.custom' %>
	<script type="text/javascript" charset="utf-8">
	$(function() {
		$('#datepicker').datepicker({ 
				dateFormat: "yy-mm-dd",
				showButtonPanel: true, 
				showButtonPanel: true, 
				showOn: "both",
				buttonImage: "/images/calendar.gif",
				buttonImageOnly: true,
				changeMonth: true,
				changeYear: true,
				yearRange: '1945:2011'
		});
	});
	</script>
<% end %>