<% title "Registered Users" %>

<%= render :partial => 'search_users' %>
<%= will_paginate @users %>
<%= page_info @users %>

<table id="users-index">
  <tr>
		<th>Active?</th>
    <th class='last'>Last Activity</th>
    <th class='user'>User</th>
    <th class='rating'>Ave. Rating</th>
    <th>Enabled?</th>
		<th class='roles'>Roles</th>
		<th class='birthday'>Birthday</th>
		<th></th>
  </tr>
  <% for user in @users %>
    <tr>
			<td>
				<% if user.current_sign_in_at && user.current_sign_in_at > 1.hour.ago %>
					<%= image_tag '/images/base/yes.png' -%>
				<% end %>
			</td>
      <td class='last'>
				<p><%=h user.current_sign_in_at.to_s(:short) unless user.current_sign_in_at.nil? %></p>
				<p><%=h "(#{time_ago_in_words user.current_sign_in_at} ago)" unless user.current_sign_in_at.nil? %></p>
			</td>
      <td class='user'>
				<p><%= user.username %></p>
				<p><%=h user.company.name unless user.company.nil? %></p>
			</td>
      <td class='rating'>
				<%= star_images(Rating.where(:ratee_id => user).average('stars').to_f) %>
				<% unless Rating.where(:ratee_id => user).blank? %>
				<%= content_tag :p, ('based on ' + (link_to (pluralize Rating.where(:ratee_id => user).count, 'rating'), user_ratings_path(user))).html_safe %>
				<% end %>
			</td>
      <td>
				<%= user.enabled ? 'Yes' : 'No' -%>  
				<%= enabling_toggle(user) %>
      </td>
			<td class='roles'>
				<% for role in user.roles %>
					<%= role.name %>
				<% end %>
			</td>
			<td class='birthday'><%= user.profile.birthdate.strftime('%b %d') unless user.profile.blank? %></td>
      <td class="links">
    		<%= content_tag :p, (link_to "View Info", user) %>
				<%= content_tag :p, (link_to "Delete", user, :confirm => 'Are you sure? WARNING: This will remove all entries and bids related to this user.', :method => :delete)  %>
			</td>
    </tr>
  <% end %>
</table>
<p class="page-links">
	<%= link_to "Add User", new_user_path, :class => 'button' %>
	<%= link_to 'View Companies', companies_path, :class => 'button' %>
</p>