<% unless @order || @orders %>
	<li class="selection-title">
		<%= content_tag :span, 'Qty', :class => "qty" %>
		<%= content_tag :span, 'Part Description', :class => "partname" %>
		<%= content_tag :span, "Put details or Part No. here ...", :class => "partnum" %>
	</li>
<% else %>
	<thead>
		<%= content_tag :th, 'Qty', :class => "qty" %>
		<%= content_tag :th, 'Part Description', :class => "partname" %>
		<%= content_tag :th, "Unit Price", :class => 'price' %>
		<%= content_tag :th, "Total", :class => 'price' %>
	</thead>
<% end %>

