<p class="instruction">Fields marked with <strong>asterisks (*)</strong> are required.</p>
<%= f.input :deliver_to, :hint => 'put the name of repair shop or receiving establishment' %>
<%= f.input :contact_person %>
<%= content_tag :p, 'Address', :class => 'strong' %>
<%= content_tag :p, "Note: original request was #{content_tag :span, @entry.city.name, :class => 'highlight'} - charges may apply for farther areas".html_safe, :class => 'instruction' %>
<%= f.input :address1, :label => 'Bldg, number, street' %>
<%= f.input :address2, :label => "Baranggay/district,<br> city or province".html_safe %>
<%= f.input :phone %>
<%= f.input :fax %>
<%= f.input :instructions, :label => 'Special Instructions', :input_html => { :rows => 2 } %>
<%= f.button :submit %> 
<%= link_to "Cancel", @entry %>

<%= content_for :javascripts do %>
	<%= javascript_include_tag 'rails.validations' %>
<% end %>

