<% title "Edit Purchase Order" %>



<div id="order">
	<%= content_tag :h2, 'Vehicle' %>
	<%= render 'shared/info_vehicle', :entry => @entry %>

	<%= content_tag :h2, 'Transaction' %>
	<%= render 'orders/order_buyer', :entry => @entry %>
	<%= render 'orders/order_seller', :order => @order %>

	<%= content_tag :h2, 'Delivery' %>
	<%= simple_form_for @order, :validate => true, :method => :post do |f|  %>
		<%= f.input :deliver_to, :hint => 'put the name of repair shop or receiving establishment' %>
		<%= f.input :contact_person %>
		<%= f.input :address1, :label => 'Address (line 1)', :hint => "requested location was: #{@entry.city.name}" %>
		<%= f.input :address2, :label => 'Address (line 2)' %>
		<%= f.input :phone %>
		<%= f.input :fax %>
		<%= f.input :instructions, :label => 'Special Instructions', :input_html => { :rows => 2 } %>
		<hr>
		<%= f.input :user do %>
		  <%= f.grouped_collection_select :user_id,  @buyer_companies, :users, :name, :id, :username, {:include_blank => true} %>
		<% end %>
		<%=  f.input :company do %>
		  <%= f.grouped_collection_select :company_id,  Role.find(1, 2), :companies, :name, :id, :name, {:include_blank => true} %>
		<% end %>
		<%= f.input :seller do %>
		  <%= f.grouped_collection_select :seller_id,  @seller_companies, :users, :name, :id, :username, {:include_blank => true} %>
		<% end %>
		<%= f.input :entry_id %>
		<%= f.input :status, :collection => ['PO Released', 'For-Delivery', 'Delivered', 'Paid', 'Closed'] %>
		<%= f.input :order_total %>
		<%= f.input :created_at %>
		<%= f.input :confirmed, :include_blank => true %>
		<%= f.input :delivered, :include_blank => true %>
		<%= f.input :pay_until, :include_blank => true %>
		<%= f.input :paid, :include_blank => true %>
		<%= f.input :paid_temp, :include_blank => true %>

		<%= f.button :submit %> 
		<%= link_to "Cancel", :back %>
	<% end %>
</div>

<%= content_for :javascripts do %>
	<%= javascript_include_tag 'rails.validations' %>
<% end %>
