<% title "Companies" %>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Approver</th>
    <th>Primary Role</th>
    <th></th>
  </tr>
  <% for company in @companies %>
    <tr>
      <td><%= content_tag :strong, company.name %></td>
      <td>
				<%= company.address1 %><br>
				<%= company.address2 %><br>
				<%= company.zip_code %> <%= company.city.name %>
			</td>
      <td>
				<%= company.approver %><br>
				<%= company.approver_position %>
			</td>
      <td><%= company.role.name unless company.role.nil? %></td>
      <td>
				<%= link_to "View", company %>
				<%= link_to "Edit", edit_company_path(company) %>
				<%= link_to "Delete", company, :confirm => 'Are you sure?', :method => :delete %>
			</td>
    </tr>
  <% end %>
</table>

<p class="page-links">
	<%= link_to "Add User", new_user_path, :class => 'button' %>
	<%= link_to "Add Company", new_company_path, :class => 'button' %>
</p>