<% title @company.name %>

<div class="first">
<h2>Company Info</h2>
<ul id="show-company-info">
	<li><span>Primary Role:</span><%= @company.role.name.upcase unless @company.primary_role.nil? %></li>
	<li><span>Address:</span><%=h @company.address1 %>, <%=h @company.address2 %> <%=h @company.city.name %> <%=h @company.zip_code %></li>
	<li><span>Approver:</span><%=h @company.approver %>, <%=h @company.approver_position %></li>
</ul>
<%- if @company.users -%>
	<h2>Registered Users: <%= pluralize @company.users.count, 'user' -%></h2>
	<ol id="show-company-users">
	<% for profile in @company.profiles -%>
		<li>
			Name: <%= profile.first_name -%> <%= profile.last_name -%><br />
			Username: <%= profile.user.username -%><br />
			<%= link_to 'See Profile', profile.user -%> 
		</li><br />
	<% end -%>
	</ol>
<% end -%>
</div>
<div class="second">
<h2>Friends</h2>
<ul>
	<% for friend in @friends %>
		<li class="friend"><%= friend.name %></li>
	<% end %>
</ul>	
</div>

<p class="page-links">
  <%= link_to "Edit", edit_company_path(@company), :class => 'button' %> 
	<% if current_user.has_role?('admin')  %>
		<%= link_to "Delete", @company, :confirm => 'Are you sure?', :method => :delete %>
	  | <%= link_to "View All", companies_path %>
	<% end %>
</p>
