<div id="xmas">
	<h1 id="countdown" class="instruction">
		<%= pluralize(('2011-12-25'.to_date - Date.today).to_i, 'day') %> na lang ... birthday na ni Jesus!
	</h1>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <p><%= f.label :username, :class => 'inlined' %>
  <%= f.text_field :username, :class => 'input-text' %></p>

  <p><%= f.label :password, :class => 'inlined' %>
  <%= f.password_field :password, :class => 'input-text' %></p>

  <%#= render :partial => 'remember' %>
  <p><%= f.submit "Login" %></p>
<% end %>

</div>
