<% title 'Login' %>

<%= render 'chinese_new_yr' %>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <p><%= f.label :username, :class => 'inlined' %>
  <%= f.text_field :username, :class => 'input-text' %></p>

  <p><%= f.label :password, :class => 'inlined' %>
  <%= f.password_field :password, :class => 'input-text' %></p>

  <p><%= f.submit "Login" %></p>
<% end %>
<h2>Gōng xǐ fā cái!  Kiong hee huat tsai!<br> Kong Hei Fat Choi!</h2>
<h4 class="instruction">(Meaning: Congratulations and wishing you prosperity!)</h4>
