<% title "Car Parts" %>

<% content_for :subnav do %>
	<% form_tag car_parts_path, :method => :get, :remote => true do %>
		<span class="strong">Quick Search:</span>
		<span>Part Name <%= text_field_tag :name, nil, :id => 'search-box' %></span>
		<span><%= submit_tag "Go!" %></span>
		<%= link_to "refresh", car_parts_path %>
	<% end %>
<% end %>


<div id="parts1">
  <%= render 'parts' %>
</div>



<p class="page-links"><%= link_to "New Car Part", new_car_part_path, :class => 'button' %></p>
