<%= form_tag change_line_item_path(item), :remote => true, :method => :put do  %>
	<span id="part_qty_<%= item.id %>" class="qty">
		<%= item.quantity %>
	</span>
	<span class="partname">
		<%= item.car_part.name %> <%= link_to "-", item, :confirm => 'Are you sure?', :method => :delete, :class => 'button' %>
	</span>		
	<span id="part_no_<%= item.id %>" class="partnum">
		<%= render '/line_items/part_with_edit', :item => item %>
	</span>
<% end %>

