<div id="header">
	<%= link_to (content_tag :h1, "E-Bid Auto Parts Auction System"), root_path %>
	<h2 id="slogan">The hub for auto parts buyers <span>&amp;</span> sellers</h2>
	<ul id="global-links" class="links">
		<%= content_tag :li, "Welcome back #{current_user.username}!", :id => 'name' if current_user  %>
  	<%= nav_link "Home", root_path -%>
  	<%= nav_link "About", site_about_path -%>
		<% if current_user %> 
			<%= nav_link "Edit My Profile", current_user  -%>
			<%= nav_link "Logout", destroy_user_session_path -%>
		<% else %> 
				<%= nav_link "Sign up", new_user_path -%>
				<%= nav_link "Sign in", new_user_session_path -%>
		<% end %>
	</ul>
	<% unless current_user.nil? %>
  <ul id="navigation">
		<% if current_user.has_role?('admin') %>
		<%= render 'layouts/menu_admin' %>
		<% elsif current_user.has_role?('powerbuyer') %>
			<%= render 'layouts/menu_powerbuyer' %>
		<% elsif current_user.has_role?('buyer') %>
			<%= render 'layouts/menu_buyer' %>
		<% elsif current_user.has_role?('seller') %>
			<%= render 'layouts/menu_seller' %>
		<% else %>
	   <%= nav_link 'Note: Your account is not yet activated.  Please contact 892-5835 asap.', '' %>
		<% end %>
  </ul>
	<% end %>
	<div id="subnav">
  	<%= yield(:subnav) %>
	</div>
</div>	
