<li id="label">Your Company's Entries</li>
<%= menu_link 'Dashboard',  'buyer', 'main' %>
<%= nav_link 'New',  new_user_entry_path(current_user) %>
<%= menu_link 'Pending',  'buyer', 'pending' %>
<%= menu_link 'Online',  'buyer', 'online' %> 
<%= menu_link 'Results', 'buyer', 'results' %> 
<%= menu_link 'Orders', 'buyer', 'orders' %>
<%= menu_link 'Payments', 'buyer', 'payments' %> 
<%= menu_link 'Paid', 'buyer', 'paid' %> 
<%= menu_link 'Declined & Expired', 'buyer', 'fees' %>
<%= menu_link 'Archives', 'entries', 'index' %> 
