<li id="label">Your Entries</li>
<%= nav_link 'Dashboard',  buyer_main_path(current_user) %>
<%= nav_link 'New',  new_user_entry_path(current_user) %>
<%= nav_link 'Pending',  buyer_pending_path(current_user) %>
<%= nav_link 'Online',  buyer_online_path(current_user) %> 
<%= nav_link 'Results', buyer_results_path(current_user) %> 
<%= nav_link 'Orders', buyer_orders_path(current_user) %>
<%= nav_link 'Payments', buyer_payments_path(current_user) %> 
<%= nav_link 'Paid', buyer_paid_path(current_user) %> 
<%= nav_link 'Declined', buyer_fees_path(current_user) %>
<%= nav_link 'Archives', user_entries_path(current_user) %> 
<%#= nav_link 'Diffs', diffs_path %>
