<li id="label">Your Company's Entries</li>
<%= menu_link 'Dashboard',  'buyer', 'main', 'all' %>
<%= nav_link 'New',  new_user_entry_path(current_user) %>
<%= menu_link 'Pending',  'buyer', 'pending', 'all' %>
<%= menu_link 'Online',  'buyer', 'online', 'all' %> 
<%= menu_link 'Results', 'buyer', 'results', 'all' %> 
<%= menu_link 'Orders', 'buyer', 'orders', 'all' %>
<%= menu_link 'Payments', 'buyer', 'payments', 'all' %> 
<%= menu_link 'Paid', 'buyer', 'paid', 'all' %> 
<%= menu_link 'Declined', 'buyer', 'fees', 'all' %>
<%= menu_link 'Archives', 'entries', 'index', 'all' %> 
<%#= nav_link 'Diffs', diffs_path %>
