<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= content_for?(:title) ? "E-Bid Inc. - The Philippines' Vehicle Parts Auction Hub | " + yield(:title) : "E-Bid Inc. - The Philippines' Vehicle Parts Auction Hub" %>
    </title>
		<%= stylesheet_link_tag 'base', 'styles', :media => "all" %>
    <%= csrf_meta_tag %>
		<link rel="shortcut icon" href="/images/base/favicon.ico" />
		<%= yield(:head) %>
  </head>

  <body id="application.html" onload="">
    
		<div id="top">		
		<div class="container">
  		<%= render 'layouts/header' %>

     <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}", :class => "flash" %>
      <%- end -%>

      <%= content_tag :h1, yield(:title), :class => 'main-title' if show_title? %>

 			<div id="content-main">
	      <%= yield %>
			</div>
    </div>
		</div>    
		<div id="footer">
			<%= render 'layouts/footer' %>
		</div>
		<div id="javascripts">
	    <%= javascript_include_tag :defaults %>
			<%= yield(:javascripts) %>
		</div>
  </body>
</html>
